header {
    background-color: #004080;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: flex;
    justify-content: center;
    background-color: #003366;
    padding: 10px;
}
.nav-container nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    color: transparent;
}
.nav-container nav a {
    color: white;
    text-decoration: none;
}
.nav-container nav a:hover {
    text-decoration: underline;
}
.about-lms {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 0 20px #d4d4d4;
}
.about-lms h2 {
    color: #003366;
}
.key-feat {
    display: flex;
    font-weight: bold;
    justify-content: center;
}
.about-lms ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    gap: 10px;
    list-style: none;
}
.about-lms li::before{
    content: "- ";
}
footer {
    display: flex;
    justify-content: center;
    background-color: #004080;
    color: white;
    padding: 10px;
}
.lms-login {
    position: absolute;
    color: #003366;
    right: 46%;
    top: 29%;
} 
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form form {
    background-color: #d4d4d4;
    padding: 30px;
    margin: 120px 150px;
    border-radius: 30px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 10px;
}
span {
    display: none;
}
.login-form input {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid darkgray;
    width: 300px;
}
.login-form button {
        background-color: #008000;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
}
.login-form button:hover {
    background-color: #006600;
}
.login-form a {
    color: #004080;
    text-decoration: none;
    text-align: center;
}
.login-form a:hover {
    text-decoration: underline;
}
.login-form button, .login-form a {
    position: absolute;
   bottom: 15%;
}
/* START OF ATTEMPT QUIZ PAGE ----------------------- */

.quiz-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.quiz-header h2 {
    display: none;
}
.quiz-main {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
}
.quiz-info {
        background-color: lightblue;
        padding: 20px; 
        width: fit-content;
        margin: 5px;
        margin-bottom: -5px;
        text-align: center; 
        font-size: large;
}
.quiz-main img {
    height: 150px;
    border-radius: 5px;
}
.quiz-main h2 {
    color: #004080;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0px;
    font-weight: bold;
}
.quiz-main h3 {
    margin-bottom: 0px;
    text-align: center;
}
.quiz-main p {
    font-size: large;
}
.quiz-input {
    display: inline block;
    background-color: #cacaca;
    padding: 20px 80px 20px 20px;
    margin-left: 20px;
    text-align: left;
}
.quiz-input2 {
    display: inline;
    background-color: #cacaca;
    margin-left: 20px;
    padding: 20px 220px 20px 20px;
    text-align: left;
}
.quiz-main button {
    background-color: lightblue;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.quiz-main button:hover {
    background-color: darkblue;
    color: white;
}
.quiz-main form button {
    background-color: #D32F2F;
    color: white;
    margin-top: -5px;
    margin-left: 10px;
}
.quiz-main form button:hover {
    background-color: #821b1b;
    color: white;
}
.quiz-input-spacing {
    margin-bottom: 10px;
}